<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <i class="pi pi-book" style="font-size: 2rem; margin-right: 1rem"></i>
        <span>My Library</span>
    </a>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    ></div>
</div>
