<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <!-- Composant de messages pour afficher les notifications -->
            <p-toast></p-toast>
            <!-- Barre d'outils avec boutons New (Nouveau) et Delete (Supprimer) -->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Nouveau"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Supprimer"
                            icon="pi pi-trash"
                            class="p-button-danger"
                            (click)="deleteSelectedBooks()"
                            [disabled]="!selectedBooks || !selectedBooks.length"
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <!-- Tableau (p-table) pour afficher la liste des livres -->
            <p-table
                #dt
                [value]="books"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['intitule']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Affichage de {first} à {last} sur un total de {totalRecords} entrées"
                [(selection)]="selectedBooks"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <!-- Template pour le titre du tableau -->
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Liste des Livres</h5>
                        <!-- Champ de recherche global -->
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Recherche..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <!-- En-têtes de colonnes du tableau -->
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <!-- Case à cocher pour la sélection globale -->
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">
                            Code <p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th pSortableColumn="intitule">
                            Intitulé <p-sortIcon field="intitule"></p-sortIcon>
                        </th>
                        <th pSortableColumn="auteur">
                            Auteur <p-sortIcon field="auteur"></p-sortIcon>
                        </th>
                        <th pSortableColumn="editeur">
                            Editeur <p-sortIcon field="editeur"></p-sortIcon>
                        </th>
                        <th pSortableColumn="published_date">
                            Année de publication
                            <p-sortIcon field="published_date"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <!-- Contenu du tableau -->
                <ng-template pTemplate="body" let-book>
                    <tr>
                        <td>
                            <!-- Case à cocher pour la sélection individuelle -->
                            <p-tableCheckbox [value]="book"></p-tableCheckbox>
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Code</span>
                            {{ book.id }}
                        </td>
                        <td style="width: 20%; min-width: 10rem">
                            <span class="p-column-title">Intitulé</span>
                            {{ book.intitule }}
                        </td>
                        <td style="width: 20%; min-width: 8rem">
                            <span class="p-column-title">Auteur</span>
                            {{ book.auteur }}
                        </td>
                        <td style="width: 16%; min-width: 10rem">
                            <span class="p-column-title">Editeur</span>
                            {{ book.editeur }}
                        </td>
                        <td style="width: 16%; min-width: 10rem">
                            <span class="p-column-title"
                                >Date de publication</span
                            >
                            {{ book.published_date }}
                        </td>
                        <td>
                            <!-- Boutons d'édition et de suppression du livre -->
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editBook(book)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteBook(book)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Boîte de dialogue pour afficher les détails d'un livre -->
        <p-dialog
            [(visible)]="bookDialog"
            [style]="{ width: '450px', height: '550px' }"
            header="Détails du Livre"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <!-- Formulaire de saisie des détails du livre -->
                <div class="field">
                    <label for="name">Intitulé</label>
                    <input
                        type="text"
                        pInputText
                        id="intitule"
                        [(ngModel)]="book.intitule"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !book.intitule
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !book.intitule"
                        >Le nom est requis.</small
                    >
                </div>
                <div class="field">
                    <label for="auteur">Auteur</label>
                    <input
                        type="text"
                        pInputText
                        id="auteur"
                        [(ngModel)]="book.auteur"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !book.auteur
                        }"
                    />
                </div>
                <div class="field">
                    <label for="editeur">Editeur</label>
                    <input
                        type="text"
                        pInputText
                        id="editeur"
                        [(ngModel)]="book.editeur"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !book.editeur
                        }"
                    />
                </div>
                <div class="field">
                    <label for="published_date">Date de publication</label>
                    <p-calendar
                        [(ngModel)]="book.published_date"
                        [showIcon]="true"
                        autofocus
                        id="published_date"
                    ></p-calendar>
                </div>
            </ng-template>
            <!-- Boutons de la boîte de dialogue -->
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Annuler"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Enregistrer"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveBook()"
                ></button>
            </ng-template>
        </p-dialog>

        <!-- Boîte de dialogue pour confirmer la suppression d'un livre -->
        <p-dialog
            [(visible)]="deleteBookDialog"
            header="Confirmation"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="book"
                    >Êtes-vous sûr de vouloir supprimer le livre
                    <b>{{ book.intitule }}</b> ?</span
                >
            </div>
            <!-- Boutons de confirmation -->
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="Non"
                    (click)="deleteBookDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Oui"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>

        <!-- Boîte de dialogue pour confirmer la suppression de plusieurs livres -->
        <p-dialog
            [(visible)]="deleteBooksDialog"
            header="Confirmation"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span
                    >Êtes-vous sûr de vouloir supprimer les livres sélectionnés
                    ?</span
                >
            </div>
            <!-- Boutons de confirmation -->
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="Non"
                    (click)="deleteBooksDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Oui"
                    (click)="confirmDeleteSelected()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
